/*=========== GENERAL =====================================*/
:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --light-pink: hsl(6, 100%, 80%);
    --pink: hsl(335, 100%, 65%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 14px 'Raleway', sans-serif;
    background-color: var(--very-dark-blue);
    background-image: url(images/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50% -80%;
}

section {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*=========== CARD LOGO =====================================*/

.card-logo {
    background-color: var(--dark-blue);
    border-radius: 8px;
    border-top-right-radius: 100px;
    margin-right: 20px;
    width: 280px;
    padding: 40px 30px;
}

.card-logo p {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.icon {
    background-color: var(--very-dark-blue);
    border-radius: 8px;
    padding: 10px;
}

/*=========== CARD ASISE =====================================*/
.card-aside {
    background-color: var(--dark-blue);
    color: var(--pale-blue);
    float: right;
    border-radius: 8px;
    padding: 20px;
    width: 440px;
    height: 115px;
    transform: translateY(32px);
}

.card-aside span {
    font-weight: 700;
}

/*=========== BAR =====================================*/
#bar {
    position: relative;
    display: inline-block;
    width: 330px;
    height: 15px;
    margin: 10px 20px;
    right: 15px;
}

#bar-dark {
    position: absolute;
    display: inline-block;
    width: 430px;
    height: 19px;
    margin: 10px 20px;
    right: 8px;
    bottom: 38px;
    z-index: -1;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, var(--light-pink), var(--pink));
}

.slider-dark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--very-dark-blue);
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 11px;
    left: 316px;
    bottom: 2px;
    background-color: var(--pale-blue);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*=========== SPACES =====================================*/
#space {
    display: flex;
    justify-content: space-between;
}

#space-left {
    display: inline-flex;
    background-color: #fff;
    color: var(--grayish-blue);
    padding: 10px;
    width: 120px;
    height: 40px;
    border-radius: 8px 8px 0 8px;
    transform: translateY(-55px) translateX(60px);
    align-items: center;
}

#space-left span {
    font-size: 2.7em;
    color: var(--very-dark-blue);
}

.triangle-right:after {
    content:"";
    position:absolute;
    bottom:-20px; 
    left:120px; 
    border-width:20px 0 0 20px;
    border-style: solid;
    border-color: #fff transparent;
}
/*=========== RESPONSIVE =====================================*/

@media (max-width: 855px) {
    body {
        background-image: url(images/bg-mobile.png);
        background-position: initial;
        background-size: 150%;
    }

    section {
        display: block;
    }
    
    .card-logo {
        margin: 0;
    }

    .card-aside {
        width: 280px;
        text-align: center;
        padding: 30px;
        transform: translateX(px);
    }

    #bar {
        width: 200px;
        bottom: 65px;
        right: 30px;
    }
    
    #bar-dark {
        width: 250px;
        right: 32px;
        bottom: 87px;
    }

    .slider:before {
        left: 186px;

    }
    #space{
        transform: translateY(-67px);
    }
    #space-left {
        transform: translateY(90px);
        border-radius: 8px;
        padding: 15px;
        width: 140px;
        align-content: center;
    }

    .triangle-right:after {
        border-style: none;
    }
}
