/*=========== GENERAL =====================================*/
:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 14px 'Raleway', sans-serif;
    background-color: var(--very-dark-blue);
    background-image: url(images/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*=========== CARDS =====================================*/

.card-logo {
    background-color: var(--dark-blue);
    border-radius: 8px;
    border-top-right-radius: 80px;
    margin-right: 20px;
    width: 280px;
    padding: 40px 30px;
}

.card-logo p {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.icon {
    background-color: var(--very-dark-blue);
    border-radius: 8px;
    padding: 10px;
}

.card-aside {
    background-color: var(--dark-blue);
    color: var(--pale-blue);
    float: right;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
}

.card-aside span {
    font-weight: 700;
}

#bar {
    background-color: var(--very-dark-blue);
    width: 200px;
    height: 10px;
    margin: 20px 0;
}

#space-left {
    display: inline;
    background-color: var(--pale-blue);
    color: var(--very-dark-blue);
}
