/*=========== GENERAL =====================================*/
:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --light-pink: hsl(6, 100%, 80%);
    --pink: hsl(335, 100%, 65%);

}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 14px 'Raleway', sans-serif;
    background-color: var(--very-dark-blue);
    background-image: url(images/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*=========== CARDS =====================================*/

.card-logo {
    background-color: var(--dark-blue);
    border-radius: 8px;
    border-top-right-radius: 80px;
    margin-right: 20px;
    width: 280px;
    padding: 40px 30px;
}

.card-logo p {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.icon {
    background-color: var(--very-dark-blue);
    border-radius: 8px;
    padding: 10px;
}

.card-aside {
    background-color: var(--dark-blue);
    color: var(--pale-blue);
    float: right;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    height: 90px;
    transform: translateY(40px);
}

.card-aside span {
    font-weight: 700;
}

#bar {
    background-image: linear-gradient(90deg, var(--light-pink), var(--pink));
    width: 400px;
    height: 13px;
    margin: 20px 0;
    border-radius: 8px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 15px;
    margin: 10px 20px;
    right: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, var(--light-pink), var(--pink));
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 11px;
    left: 4px;
    bottom: 2px;
    background-color: var(--pale-blue);
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#space {
    display: flex;
    justify-content: space-between;
}

#space-left {
    display: inline-flex;
    background-color: #fff;
    color: var(--grayish-blue);
    padding: 8px;
    width: 120px;
    height: 40px;
    border-radius: 8px 8px 0 8px;
    transform: translateY(-55px) translateX(25px);
}

#space-left span {
    font-size: 2em;
    color: var(--very-dark-blue);
}

.triangle-right:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:116px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color: #fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
